---
layout: layout.njk
title: Adrien Leray | Contact
---

{% include './_partials/navigation.njk' %}

<header class="p-5 md:mx-auto md:py-5 lg:max-w-xl xl:max-w-xl">
    <p class="text-center font-sans font-medium text-2xl leading-snug">
        Send me a hello, if you want to work together !
    </p>
</header>

<main>
    <p class="text-center">Contact me via <a class="text-[#001B3F] active:font-bold transition-all duration-150 hover:ring hover:ring-offset-1 hover:ring-on-background" href="https://www.linkedin.com/in/adrien-leray">linkedin</a> or by email at <a class="text-[#001B3F] active:font-bold transition-all duration-150 hover:ring hover:ring-offset-1 hover:ring-on-background" href="mailto:alerayatwork@gmail.com">alerayatwork@gmail.com</a>
    </p>
</main>

{% include './_partials/footer.njk' %}