---
layout: layout.njk
title: Adrien Leray | Portfolio
---

<nav class="p-2.5 py-4 flex items-center">
    <a href="/"><img src="" alt="aleray" width="42" height="42"/></a>
    <div class="flex flex-1 justify-end items-center">
        <a href="/home" class="px-4 font-body font-bold underline">Home</a>
        <a href="/projects/" class="px-4 font-body font-bold underline">Projects</a>
        <a href="/blog/" class="px-4 font-body font-bold underline">Blog</a>
        <a href="/about/" class="px-4 font-body font-bold underline">About</a>
    </div>
</nav> 

<header class="p-5 md:p-20 pt-10">
    <span class="flex font-serif font-bold text-2xl pb-5">👋 <span class="italic">Hi, I’m Adrien</span></span>
    <h1 class="font-sans font-bold text-5xl leading-title">I enjoy make the <span class="text-primary">web clean</span> & <span class="text-primary">better</span> for all of us !</h1>
</header>