<header class="p-5 md:px-60 pt-10">
  <span id="hello-world" class="flex font-serif font-bold text-2xl pb-5 origin-bottom-left transform transition-transform duration-500">👋 <span class="italic">Hi, I’m Adrien</span></span>
  <h1 class="font-sans font-bold text-4xl leading-snug">I enjoy make the <span class="text-primary">web clean</span> & <span class="text-primary">better</span> for all of us!</h1>
</header>