<nav class="py-2.5 z-5 md:mx-auto md:py-5 lg:max-w-xl xl:max-w-xl">
    <div class="flex flex-col flex-1 justify-between items-center text-lg lg:flex-row">
        <a href="/about" class="text-2xl font-semibold">ADRIEN LERAY</a>
        <ul class="flex list-none ">
            {% for link in navigation.links %}
                <li>
                    <a href="{{ link.url }}" class="px-2 md:px-4 font-body font-normal focus:font-bold active:font-bold transition-all duration-150 hover:ring hover:ring-offset-1 hover:ring-on-background">{{ link.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>