<nav class="px-5 md:px-60 py-2.5 md:py-5 flex items-center">
    <img src="../assets/images/batman.svg" class="w-16 h-auto" inline>
    <div class="flex flex-1 justify-end items-center text-lg">
        {% for link in navigation.links %}
            <a href="{{ link.url }}" class="px-4 font-body font-bold underline">{{ link.text }}</a>
        {% endfor %}
    </div>
</nav> 